lnInclude
.vscode
.cache
.mas_sync_tag
.mas_sync_cfg
farfield_py.zip
modelling
compile_commands.json

**/linux64*/

#**/[0-9]*
**/processor*
**/VTK/
**/dynamicCode/
**/farField/
*.pvsm
*.foam
log.*
log
**/output*
**/shocks*/

.bear-cit-config
**/delete *
todo.txt

tests/

farfield
farfield_py
Оптимизации
Пометки
Статьи

*.ogv
*.png
